include CHANGELOG.md
include CITATION.bib
include LICENSE
include README.md
include pyproject.toml

recursive-include galpynostatic *.py
recursive-include galpynostatic *.csv

exclude .readthedocs.yaml
exclude requirements_dev.txt
exclude tox.ini

recursive-exclude docs *
recursive-exclude tests *
recursive-exclude paper *
