include CHANGELOG.md
include CITATIONS.bib
include LICENSE
include README.md
include pyproject.toml

recursive-include galpynostatic *.csv
recursive-include galpynostatic *.py

exclude .readthedocs.yaml
exclude requirements_dev.txt
exclude tox.ini

recursive-exclude docs *
recursive-exclude tests *
recursive-exclude papers *
