include LICENSE
include README.md
include pyproject.toml

recursive-include galpynostatic *.py
recursive-include galpynostatic *.tsv

exclude tox.ini

recursive-exclude tests *
recursive-exclude docs *
recursive-exclude examples *
